@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
}
.card-table {
  background-color: #fff;
  width: 100%;
  border-spacing: 0;
}
.card-table th,
.card-table td {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.card-table th {
  background-color: #ededed;
}
.discount {
  border: 1px solid #3bc53b;
  padding: 4px 8px;
  background-color: #b9f3b9;
}
.hidden {
  display: none;
}

.button{
  background-color:red;
  cursor:pointer;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
}